// TEXT
$main-text-color: #F2F2F3;
$not-selected-text-color: #8585AD;
$main-text-font: 'Verdana', sans-serif;

// BACKGOUND
$main-bg-color: #131316;
$modal-bg-color: #1C1C21;
$line-bg-color: #2F2F37;
